.youtube__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .youtube__item__pic {
    width: 100%; 
    height: 350px;
    object-fit: contain; /* Garante que a imagem seja cortada proporcionalmente */
}